<div class="fixed h-full w-full -z-10">
  <div class="inset-0 bg-teal h-full"></div>
</div>

<div class="relative w-full h-full">
  <div class='max-w-[1200px] mx-auto bg-white min-h-full p-12'>
    <div class='flex justify-end space-x-6 mb-12'>
      <%= partial.yield :header %>
    </div>

    <div class='px-0 lg:px-16'>
      <%= partial.yield :content %>
    </div>
  </div>
</div>
