<p id="notice"><%= notice %></p>

<h1>Animal application</h1>

<div id="animal_applications">
  <%= render @animal_applications %>
</div>

<%= link_to "New Animal application", new_animal_application_path %>
