<%= javascript_include_tag "components/animals/AnimalForm", "data-turbo-track": "reload", defer: true %>

<% if @animal.errors.any? %>
  <%= javascript_tag do %>
    var signupFormErrors = <%= raw(@animal.errors.to_json) %>
  <% end %>
<% end %>

<div id="animal-form"></div>