.sign_up_title {
    text-align: center;
    font-size: 3rem;
}

.sign_up_form {
    display: flex;
    flex-direction: column;
    margin: .5rem 1rem;
    font-size: 3rem;
}
.sign_up_form > label {
    margin-bottom: .3rem;
}

.sign_up_form > input {
    border-color: #d9d9d9;
    border-radius: .5rem;
    font-size: 3rem;
    margin-bottom: 1rem;
    padding: 1rem;
}

.home_info {
    font-size: 2.5rem;
    text-align: center;
}

.sign_up_submit {
    margin-top: 1.5rem;
}

.foster_is_home_container > input, .person_is_home_container > input {
    width: 2rem;
    height: 2rem;
}